NEXT_PUBLIC_AUTH_MODE=auth0
NEXT_PUBLIC_AUTH0_DOMAIN=pinerary-prod.eu.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=yvIunqYXL0mKknzVjWjK5evViJ8NI4bq
NEXT_PUBLIC_AUTH0_AUDIENCE=https://api.pinerary
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
# Used only when NEXT_PUBLIC_AUTH_MODE=development.
NEXT_PUBLIC_DEFAULT_DEV_TOKEN=alice
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
